@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Figtree";
}

.parent {
    width: 800px;
    height: 800px;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.second_parent {
    width: 400px;
    height: 470px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
}

.cheldren {
    height: 100px;
    width: 250px;
    background-color: rgb(119, 108, 8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button:hover {
    border: none;
    background-color: rgb(206, 218, 48);
    width: 75px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 11px;
    cursor: pointer;
}

button {
    border: none;
    background-color: yellow;
    width: 75px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 11px;
}

img {
    height: 100px;
    width: 450px;
}