*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(70, 67, 67);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.rotate {
    width: 100px;
    height: 100px;
    background-color: rgb(35, 32, 228);
    animation: rotateandscale 4s linear infinite;
}

@keyframes rotateandscale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}