a:link {
    color: rgb(127, 250, 4);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:active {
    color: rgb(194, 27, 22);
    text-decoration: none;
}

button {
    border: none;
    background-color: blue;
    width: 75px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 11px;
    cursor: pointer;
}

button:hover {
    border: none;
    background-color: rgb(138, 180, 248);
    width: 75px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 11px;
    cursor: pointer;
}