* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perant {
    background-color: hsl(233, 47%, 7%);
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cheldren {
    padding: 1px;
    background-color: hsl(244, 38%, 16%);
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.second_cheldren {
    background-color: hsl(277, 70%, 60%);
    height: 300px;
    width: 500px;
    opacity: 25%;
}

h2 {
    color: hsl(0, 9%, 87%);
}

p {
    color: hsla(0, 0%, 40%, 0.75);
}

img {
    height: 300px;
    width: 500px;
}

h1 {
    color: purple;
}

span {
    color: purple
}