* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div1 {
    background-color: red;
    transition: 0.3s;
    width: 200px;
    height: 200px;
}



.div1:hover {
    transform: translate(50px);
}

.div2 {
    background-color: rgb(255, 0, 191);
    transition: 0.3s;
    width: 200px;
    height: 200px;
}

.div2:hover {
    transform: rotate(180deg);
}